<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> WhatsApp API </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-black">
<div class="container-xxl mt-4 d-flex flex-column gap-3">
    <div class="p-4 rounded shadow-lg bg-dark">
        <form method="post" action="/save-quote">
            <div class="mb-3">
                <label for="quote" class="form-label">Quote</label>
                <input type="text" class="form-control" id="quote" name="quote" required>
            </div>
            
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    
    <div class="table-responsive p-4 rounded shadow-lg bg-dark">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quote</th>
                    <th scope="col">Author</th>
                    <th scope="col">Active</th>
                    <th scope="col">Views</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (const quote of quotes) { %>
                    <tr>
                        <td> <%= quote.quote %> </td>
                        <td> <%= quote.author %> </td>
                        <td> <%= quote.isActive %> </td>
                        <td> <%= quote.views %> </td>
                        <td>
                            <form action="/delete-quote" method="post">
                                <input type="hidden" name="id" value="<%= quote.id %>">
                                
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            
                            <form action="/toggle-message-active-status" method="post">
                                <input type="hidden" name="id" value="<%= quote.id %>">
                                <input type="hidden" name="isActive" value="<%= !quote.isActive %>">
                                
                                <button type="submit" class="btn btn-danger">Active</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
    <div class="p-4 rounded shadow-lg bg-dark">
        <form method="post" action="/daily-quote">
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="numbers" required>
            </div>
            
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="at" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    
    <div class="table-responsive p-2 rounded shadow-lg bg-dark">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (const job of jobs) { %>
                    <tr>
                        <td> <%= job.id %> </td>
                        <td> <%= job.name %> </td>
                        <td>
                            <span class="badge bg-primary"><%= job.type%> </span>
                        </td>
                        <td> <%= 
                                new Date(job.time).toLocaleString('en-US', {
                                    timeZoneName : 'short'
                                })                        
                            %> 
                        </td>
                        <td>
                            <form action="/delete-job" method="post">
                                <input type="hidden" name="id" value="<%= job.id %>">
                                
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>